@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full bg-backdrop text-white;
  }

  .contain {
    height: calc(100% - theme("spacing.20"));
  }
}
.main .active {
  @apply bg-active  fill-red-800;
}
.active {
  @apply text-white opacity-100 bg-[#333];
}
.Search {
  background-position: 15px 50%;
  background-image: url(../src/icon/Search.svg);
}
.asd {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
/* @media (max-width: 1000px) {
  .asd {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
} */
